@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* :root {
    --bg-color:#1EA7D1;
} */
* {
  font-family: "Poppins", sans-serif;
}

#warna {
    background-color: #1EA7D1;
}
#font-general {
    font-size: 14px;
}

.carousel {
    background: linear-gradient(to right, #044A5F, #00C3FF);
    border-radius: 10px;
    width: 40%;
    height: 200px;
    margin: 0;
    padding: 0;
  }

.carousel h3{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.carousel-item p.quote{
    color: white;
    font-size: 16px;
    padding: 0 20px 0 20px;
    top: -10px;
}
.carousel-item p.author{
    color: white;
    font-size: 16px;
    padding: 30px 0px 0 320px;
    top: -10px;
}
  
.carousel-indicators li {
    list-style-type: none;
    background: #ffffff;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #d50000;
}