@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* :root {
    --bg-color:#1EA7D1;
} */
* {
  font-family: "Poppins", sans-serif;
}

#warna {
    background-color: #1EA7D1;
}
#font-general {
    font-size: 14px;
}

.vertical-text {
  /*  writing-mode: vertical-lr; /* Mengatur teks vertikal dari kiri ke kanan */
   /* text-orientation: sideways; /* Mengatur orientasi teks menjadi miring */
  /* transform: rotate(180deg); /* Memutar teks 180 derajat untuk memulai dari bawah*/
   /* transform-origin: left bottom; /* Mengatur titik rotasi di kiri bawah */
    writing-mode: vertical-lr; 
    text-orientation: sideways; 
    transform: rotate(180deg); 
    transform-origin: left bottom; 
    transform-origin: center;
    
  }
  .ditambahkan{
 margin-left: -12px;
 /* padding: 28px 0; */
  }
